template(name="list")
  .ui.container.segment
    .ui.fluid.input
      input(type="text" $b="value : newChartName, enter : saveNewChart")
    .ui.divided.list
      each items
        +listItem
        
template(name="listItem")
  .item
    .right.floated.content
      i.delete.icon($b="click:Chart.remove")
    .content
      .header #{symbol}
      .description #{name}
      .ui.input
        input($b="value : name, enter:Chart.save" type="text")
