head
  title Stock Charts
  
body
  .ui.container.segment
    h1.header Stock Charts
  +chart
  +list
  +footer
  
template(name="footer")
  .ui.center.aligned.text.container
    p &copy; 2016 - Jan Pilgenröder
