template(name="list")
  .ui.container.segment
    .ui.fluid.input
      input(type="text" $b="value : newChartName, enter : saveNewChart")
      if newChartName.invalid
        p WRONG
    .ui.divided.list
      each items
        +listItem
        
template(name="listItem")
  .item
    .right.floated.content
      //i.cloud.download.icon($b="click:logChart")
      i.delete.icon($b="click:removeChart")
    .content
      .header #{symbol}
      .description #{name}
